.landing-section {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 5%;
}

.landing-title {
  font-size: 3em;
}

.landing-subtitle {
  font-size: 1.5em;
}

.navigation ul {
  padding: 0;
  display: flex;
  list-style: none;
}

.navigation li {
  margin-right: 20px;
}