@import './sass/global';


.AppContainer {
  display: grid;
  grid-template-areas: "navigation content";
  grid-template-columns: 240px auto;
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  button {
    background: none;
    border: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }

  @include respond-to('small') {
    grid-template-columns: 120px auto;
  }
}
